<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MyWMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=wms.db;" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <MyWMS.Properties.Settings>
      <setting name="KeeperPosR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeeperPosC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeeperContactPosR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeeperContactPosC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TablePosR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TablePosC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DatePosR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DatePosC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NumPosR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NumPosC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChineseSumPosR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChineseSumPosC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SumPosR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SumPosC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TamplatePath" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomerPosR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CustomerPosC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WTablePosR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WTablePosC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WIdPosR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WIdPosC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WTamplatePath" serializeAs="String">
        <value />
      </setting>
      <setting name="WDatePosR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WDatePosC" serializeAs="String">
        <value>0</value>
      </setting>
    </MyWMS.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.110.0" newVersion="1.0.110.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite.EF6" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.110.0" newVersion="1.0.110.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>